@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.blue{
    color: #2084b7;
}   
html{
    overflow-x:hidden ;
}
a {
    color: #000;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
.order{
    order: 0;
}
.hv{
    &:hover{
        color: #2084b7;
    }
}
.btn .btn-secondary .dropdown-toggle{
    box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #000;
    background-color: #ffff;
    border-color:#ffff ;
    box-shadow: none;
}
.btn-secondary:hover {
    color: #000;
    background-color: #ffff;
    border-color:#ffff ;
    box-shadow: none;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header{
    position: sticky;
    z-index: 999;
    top:0;
    left:0;
    background-color: white;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_main .header_logo{
    width: 250px;
    height: auto;
    object-fit: contain;
}
.header_main .header_logo img{
    width: 75%;
    height: 100%;
}
.header_menu ul li {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
    padding:20px 0px;
}
.header_menu ul li a {
    &:hover{
        color: #21bbf8;
        border-bottom: 2px solid #21bbf8;
    }
}
.header_icon{
    display: none;
}
.dropdown, .dropleft, .dropright, .dropup{
    position: unset;
}
/* *************************_TRANG_CHU_****************************** */
/* section1 */
.section1{
    padding-top: 20px;

    margin: 0 auto;
}

.section1 .item{
    display: flex;
    padding-top: 20px;
    padding-bottom:20px;
    border-bottom: 1px solid #dedede;
    &:last-child{
        border: none;
    }
}
.section1 .item img{
    width: 45%;
    height: auto ;
}
.section1 .sc1_title{
    max-width:100%;
    margin-top: 10px;
}
.section1 .sc1_title .sc1_decs{
    cursor:pointer;
    &:hover{
        color: #2084b7;
    }
}
.section1 .sc_1_2 img{
    padding-top: 20px;
    width:100%;
    height:auto;
}
.section1 .item .sc1_content{
    margin-left: 10px;
    font-size: 80%;
    font-weight:bold ;
    &:hover{
        color: #2084b7;
    }
}
.section1 .sc_1_order{
    order: 0;
}
.section1 .item_right img{
    width:100%;
    height: auto;
    object-fit: cover;
}
.section1 .item_right{
    padding-top: 20px;
    margin-bottom: 20px;
}
.section1 .item_right .sc1_content{
    padding-top: 10px;
    font-weight: bold;
    &:hover{
        color: #2084b7;
    }
}
.btn-secondary {
    color: #000;
    background-color: white; 
    border:none;
    font-size: 30px;
}
.dropdown-toggle::after {
    display: none;
   
}
/* slide show */
.slideshow .slideshow_title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    border-left: 7px solid red;
    border-bottom: 1px solid #dedede;
}
#carouselExampleControls .carousel-inner .carousel-item .slideshow_item .slideshow_content .slideshow_content_text{
    font-size: 15px;
    font-weight: 800;
    margin: 10px;
}
#carouselExampleControls .carousel-inner .carousel-item .slideshow_item .slideshow_content img{
    width:100%;
    height: auto;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
#carouselExampleControls .carousel-inner .carousel-item .slideshow_item .slideshow_content{
    margin: 20px;
    border: 2px solid #dedede ;
    border-radius: 5%;
    max-width: 220px;
}
#carouselExampleControls .carousel-inner .carousel-item .slideshow_item{
    display: flex;
    width: max-content;
    margin: 0 auto;
}
.carousel-control-prev , .carousel-control-next{
    color: black;
    opacity: 1;
}
.carousel-control-next-icon , .carousel-control-prev-icon{
    color: black;
    opacity: 1;
}


/* section2 */
.sc2_body {
    background-color: #ffde76;
    padding:20px 30px;
    padding-bottom: 0px;
}
.section2 .sc2_left img{
    width: 100%;
    height: auto;
}
.section2 .sc2_body .sc2_title{
    margin: 20px 0px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    border-left: 7px solid red;

}
.section2 .sc2_left .sc2_left_content .sc2_decs{
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0px;
    margin:0;
    &:hover{
        color: #2084b7;
    }
}
.section2 .sc2_left .sc2_left_content p{
    font-size: 15px;
}
.section2 .sc2_body .sc2_right_item{
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}
.section2 .sc2_body .sc2_right_item img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.section2 .sc2_body .sc2_right_item .sc2_right_content{
    font-weight: 700;
    margin-top: 10px;
    font-size:300;
    padding-bottom: 20px;
    &:hover{
        color: #2084b7;
    }
}
/* section3 */
.section3 .sc3_body{
    margin-top: 20px;
    margin-bottom: 25px;
    padding-top: 20px;
    border-top: 3px solid #9b9b9b;
}
.section3 .sc3_body .sc3_title{
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: 7px solid red;
}
.section3 .sc3_body .sc3_item .sc3_item_content{
    font-weight: bold;
    padding-bottom:30px;
    padding-top: 10px;
    font-size: 18px;
}
.section3 .sc3_body .sc3_item p{
    font-weight: bold;
}
.section3 .sc3_body .sc3_item .sc3_item_top img{
    width: 100%;
    height: auto;
}

.section3 .sc3_body .sc3_item .sc3_item_bottom img{
    width: 100px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.section3 .sc3_body .sc3_item .sc3_item_bottom p{
    margin-left: 10px;
    margin:10px 10px;
    font-size: 80%;
}
.section3 .sc3_body .sc3_item .sc3_item_bottom .sc3_item_bottom1{
    border-top: 1px solid #dedede;
    display:flex ;
}
/* section4 */
.section4 .sc4_title{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
    border-left: 7px solid red;
    padding-left: 10px;
    border-bottom: 1px solid #dedede;
    &:hover{
        color: #2084b7;
    }
}
.section4 .sc4_body .sc4_item_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section4 .sc4_body .sc4_item_left .sc4_content h3{
    margin-top: 15px;
    &:hover{
        color: #2084b7;
    }

}
.section4 .sc4_body .sc4_item_center{
    padding: 0px;
}
.section4 .sc4_body .sc4_item_center img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.section4 .sc4_body .sc4_item_center .sc4_content{
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: bold;
    &:hover{
        color: #2084b7;
    }
}
.section4 .sc4_body .sc4_right .sc4_title_one{
    display: none;
}
.section4 .sc4_body .sc4_right{
    border-left:1px solid #dedede;
    padding-left: 10px;
}
.section4 .sc4_body .sc4_item_right{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
    &:last-child{
        border: none;
    }
    
}
.section4 .sc4_body .sc4_item_right img{
    width: 45%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 15px;
    border-radius: 5%;
    object-fit: cover;
}
.section4 .sc4_body .sc4_item_right .sc4_content p{
    vertical-align: baseline;
    cursor:pointer;
    font-weight: bold;
    font-size: 12px;
    &:hover{
        color: #2084b7;
    }
}
/* section5 */
.section5{
    margin-left: 30px;
}
.section5 .sc5_body .sc5_item{
display: flex;
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #dedede;
&:last-child{
    border: none;
}
}
.section5 .sc5_content p{
    font-size: 15px;
    color: #888;
}
.section5 .sc5_content h3{
    font-size: 20px;
    font-weight: bold;
    &:hover{
        color: #2084b7;
    }
}
.section5 .sc5_body .sc5_item img{
    padding-right: 15px;
    width: 40%;
    height: auto;
    object-fit: cover;
}
.section5 .sc5_body .sc5_flex_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section5 .sc5_right .sc5_right_title{
    font-size: 30px;
    font-weight:700 ;
    margin-bottom: 20px;
}
.sc5_right{
    padding: 20px;
    border: 1px solid #dedede;
    margin-bottom: 200%;
    max-width: 95%;

}
.sc5_right .sc5_list .sc5_right_item span{
    font-size: 10px;
    color:#9b9b9b;
    font-weight:600;
}
.sc5_right .sc5_list .sc5_right_item .sc5_item_content{
    width:100%;
    font-size: 15px;
    margin-top: -5px
}
.sc5_right .sc5_list .sc5_right_item{
    display: flex;
    margin-bottom: 20px;
}
.sc5_right .sc5_list .sc5_right_item img{
    width:100px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
}
.section6{
    display: none;
}

/* footer */
footer {
    background-color: #dedede;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    margin-top: 30px;
}
footer p{
    color: #888;
    font-size: 15px;
}
/* cuonlen */
.scroll_to_back{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color:#3e221b4e;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    display: none;
    padding: 0 0 0 15px;
    cursor: pointer;
}
.scroll_to_back:hover{
    background-color:#000000 ;
}


/*********** XETTTT SIDE **********/
@media (max-width:1199.98px){
    .slideshow .container{
        max-width: 1140px;
    }
}
/* MAN IPAD */
@media (max-width:991.98px){
    .header .container{
        max-width: 100%;
    }
    .header .header_main .header_logo{
        margin: 0 auto;
        width:250px ;
        max-width: 100%;
    }
    .header .header_main .header_logo img{
        margin-left: 50px;
       
    }
    .header .header_main .header_menu .menu{
        display:none;
    }
    .header .header_main .header_icon{
        display:block;
    }
    .header .header_main .header_icon .dropdown-toggle{
        margin-right: 10px;
    }
/* section1 */
    .section1{
        padding-top: 0px;
    }
    .section1 .container{
    max-width: 960px;
    margin:30px auto;
    }
    .section1 .container .row{
        flex-direction: row-reverse;
    }
    .section1 .sc_1_order{
        order: -2;
    }
    .section1 {
        display:flex;
        width:100%;
        justify-content: space-between;
    }
    .section1 .item_right{
        max-width: 440px;
        margin: 0 auto;
    }
    .section1 .item img {
        width: 40%;
    }
    .section1 .item_right img{
        width: 100%;
        height: auto;
    }
/* slideshow */
    .slideshow .container{
        max-width:920px ;
    }
    .slideshow .carousel-inner .carousel-item .slideshow_item .slideshow_content1{
        display: none;
    }
    #carouselExampleControls .carousel-inner .carousel-item .slideshow_item .slideshow_content{
        max-width: 250px;
    }
    #carouselExampleControls .carousel-inner .carousel-item .slideshow_item .slideshow_content img{
        width: 100%;
        height: auto;
    }
/* section2 */
    .section2 .container{
        max-width: 950px;
    }
    .section2 .sc2_body .sc2_left {
        text-align: center;
    }
    .section2 .sc2_body .sc2_left img{
        width: 90%;
        height: auto;
    }
    .section2 .sc2_body .sc2_left .sc2_left_content p{
        padding-bottom: 20px;
    }
    .section2 .sc2_body .sc2_right_item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
/* section5 */
    .section5 .container{
        max-width: 950px;
    }
    .section5{
        margin-left: 0px;
    }
    .section5 .sc5_body .sc5_setside{
        padding: 15px;
        padding-top: 0px;
    }
    .section5 .sc5_body .sc5_flex_item .sc5_right{
        display:none;
    }
    .section6{
        display: none;
    }
/* section4 */
     .section4 .container{
        max-width: 950px;
     }
/* section3 */
     .section3 .sc3_body .sc3_title{
        font-size: 18px;
        margin: 0px;
        margin-top: 20px;
     }
     .section3 .container{
        max-width: 950px;
     }
     .section3 .sc3_body .sc3_item .sc3_item_top{
        
     }
     .section3 .sc3_body .sc3_item .sc3_item_top img{
        width: 100%;
        height: auto;
        margin: 10px 0px;
        margin-right: 10px;
     }
     .section3 .sc3_body .sc3_item .sc3_item_top .sc3_item_content{
        font-size: 15px;
     }
     .section3 .sc3_body .sc3_item .sc3_item_bottom .sc3_item_bottom1 img{
        width: 120px;
        height: 80px;
        padding: 0px;
        margin: 10px 0px;
     }
     .section3 .sc3_body .sc3_item .sc3_item_bottom .sc3_item_bottom1 .sc3_item_bottom_content p{
        padding: 0px;
        margin: 0px;
        padding: 20px 10px 30px;
     }
     .section3 .sc3_body .sc3_item .sc3_item_bottom p {
        font-size: 14px;
        font-weight: bold;
     }
     .section3 .sc3_body .sc3_item .sc3_item_bottom{
        &:last-child{
            padding-bottom: 25px;
        }
     }
     .section4 .sc4_body .sc4_right .sc4_item_right{
        display: none;     
    }

}

/* MAN 768 */
@media (max-width:767.98px){
    .header .container{
        max-width: 100%;
    }
    .header .header_main .header_icon{
        display:block;
    }
    .header .header_main .header_icon .dropdown-toggle{
        margin-right: 0px;
        padding-right: 0px;
    }
/* section1 */
    .sc_1_order{
        order:-2;
    }
    .section1{
        margin-top: -15px;
    }
    .section1 .container{
        max-width: 740px;
    }
    .section1 .container .row{
        flex-direction: column-reverse;
    }
    .section1 .item img{
        width: 30%;
        height: auto;
        object-fit: cover;
    }
    .section1 .item_right {
        display: none;
    }
    .section1 .item_right img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
/* slideshow */
    .slideshow .container {
        max-width: 740px;
    }
    #carouselExampleControls .carousel-inner .carousel-item .slideshow_item .slideshow_content{
        max-width: 190px;
    }
    #carouselExampleControls .carousel-inner .carousel-item .slideshow_item .slideshow_content img{
        width: 100%;
        height: auto;
    }
    .slideshow .carousel-inner .carousel-item .slideshow_item .slideshow_content1{
        display: none;
    }
    .section2 .sc2_body .sc2_right_item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .section4 .sc4_body .sc4_right .sc4_item_right{
        display: none;     
    }
    
    .section5 .sc5_body .sc5_flex_item .sc5_right{
        display:none;
    }
    .section6{
        display: none;
    }
    footer .container .row p{
        text-align: center;
        font-size: 12px;
    }
    footer .container .row .col-xl-4 .col-lg-4 .col-md-12{
        margin-top: 0px;
    }
}

@media (max-width:575.98px){
    .header .container{
        max-width: 100%;
    }
    .header .header_main .header_icon{
        display:block;
    }
    .header .header_main .header_icon .dropdown-toggle{
        margin-right: 0px;
        padding-right: 0px;
    }
    .section1{
        display: flex;
    }
    .section1 .container{
        max-width: 550px;
    }
    .section1 .container .row{
        flex-direction: column-reverse;
    }
    .section1 .item{
        &:last-child {
            padding-bottom: 0px;
        }
    }
    
    .section1 .item img {
        width: 35%;
        height: auto;
        object-fit: cover;
    }
    .section1 .item_right img {
        width: 240px;
        height: 150px;
    }
    .slideshow .container{
        max-width: 550px;
    }
    .slideshow .carousel-inner .carousel-item .slideshow_item .slideshow_content2{
        display: none;
    }
    #carouselExampleControls .carousel-inner .carousel-item .slideshow_item .slideshow_content {
        max-width: 220px;
    }
    .section2 .sc2_body .sc2_right_item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .section1 .container .row .item_right{
        display: none;
    }
    .section4 .sc4_body .row .sc4_left_flex{
        width: 60%;
    }
    .section4 .sc4_body .sc4_right .sc4_item_right{
        display: none;     
    }
    .section4 .sc4_body .sc4_center_flex{
        width: 40%;
    }
    .section4 .container{
        max-width: 550px;
    }
    
    .section6 .container{
        max-width: 550px;
    }
    .section6 .sc6_body .sc6_item{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dedede;
    &:last-child{
        border: none;
    }
    }
    .section5 .sc5_body .sc5_flex_item .sc5_right{
        display:none;
    }
    .section5{
        display: none;
    }
    
    .section6{
        display: block;
    }
    .section6 .sc6_content .sc6_content_title1{
        font-size: 13px;
        color: #888;
    }
    .section6 .sc6_content .sc6_content_title{
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: bold;
        &:hover{
            color: #2084b7;
        }
    }
    .section6 .sc6_body .sc6_item .sc6_content{
        margin: 5px auto;
        width: 330px;
        height: 130px;
    }
    .section6 .sc6_body .sc6_item img{
        padding-right: 15px;
        width: 190px;
        object-fit: cover;
    }
    .section6 .sc6_body .sc6_flex_item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section6 .sc6_title{
        font-weight: bold;
        font-size: 20px;
        border-left: 7px solid red;
        padding-left: 10px;
        border-bottom: 1px solid #dedede;
    }
}
@media (max-width:1200px){
    .section5 .sc5_right {
        display: none;
    }
}