@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: #000;
    &:hover{
        text-decoration: none;
    }
}
.order{
    order: 0;
}
.hv{
    &:hover{
        color: #2084b7;
    }
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header{
    position: sticky;
    z-index: 999;
    top:0;
    left:0;
    background-color: white;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    
}
.header_main .header_logo{
    width: 250px;
    height: auto;
    object-fit: contain;
}
.header_main .header_logo img{
    width: 100%;
    height: 100%;
}
.header_menu ul li {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
}
.header_menu ul li a {
    color:black;
    padding:20px 0px;
    &:hover{
        color: #21bbf8;
        border-bottom: 2px solid #21bbf8;
    }
}
/* section1 */
.section1{
    padding-top: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.section1 .item{
    display: flex;
    padding-top: 20px;
    padding-bottom:20px;
    border-bottom: 1px solid #dedede;
    &:last-child{
        border: none;
    }
}
.section1 .item img{
    width: 120px;
    height: 80px ;
}
.section1 .sc1_title{
    max-width:100%;
    margin-top: 10px;
}
.section1 .sc1_title .sc1_decs{
    cursor:pointer;
    &:hover{
        color: #2084b7;
    }
}
.section1 .sc_1_2 img{
    padding-top: 20px;
    width:100%;
    height:auto;
}
.section1 .item .sc1_content{
    margin-left: 10px;
    font-size: 80%;
    font-weight:bold ;
    &:hover{
        color: #2084b7;
    }
}
.section1 .sc_1_order{
    order: 0;
}
.section1 .item_right img{
    width:100%;
    height: auto;
}
.section1 .item_right{
    padding-top: 20px;
    margin-bottom: 20px;
}
.section1 .item_right .sc1_content{
    padding-top: 10px;
    font-weight: bold;
    &:hover{
        color: #2084b7;
    }
}
/* section2 */
.sc2_body {
    background-color: #ffde76;
    padding:10px 20px;
}
.section2 .sc2_left img{
    width: 100%;
    height: auto;
}
.section2 .sc2_body .sc2_title{
    margin: 20px 0px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    border-left: 12px solid red;

}
.section2 .sc2_left .sc2_decs{
    padding: 15px 0px;
    margin:0;
    &:hover{
        color: #2084b7;
    }
}
.section2 .sc2_body .sc2_right_item{
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}
.section2 .sc2_body .sc2_right_item img{
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.section2 .sc2_body .sc2_right_item .sc2_right_content{
    font-weight: 700;
    margin-top: 10px;
    font-size:300;
    padding-bottom: 20px;
    &:hover{
        color: #2084b7;
    }
}
/* section3 */
.section3 .sc3_body{
    margin-top: 20px;
    margin-bottom: 25px;
    padding-top: 20px;
    border-top: 3px solid #9b9b9b;
}
.section3 .sc3_body .sc3_title{
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 25px;
    border-left: 7px solid red;
}
.section3 .sc3_body .sc3_item .sc3_item_content{
    font-weight: bold;
    padding-bottom:30px;
    padding-top: 10px;
    font-size: 18px;
}
.section3 .sc3_body .sc3_item p{
    font-weight: bold;
}
.section3 .sc3_body .sc3_item .sc3_item_top img{
    width: 260px;
    height: 180px;
}

.section3 .sc3_body .sc3_item .sc3_item_bottom img{
    width: 100px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.section3 .sc3_body .sc3_item .sc3_item_bottom p{
    margin-left: 10px;
    margin:10px 10px;
    font-size: 80%;
}
.section3 .sc3_body .sc3_item .sc3_item_bottom .sc3_item_bottom1{
    border-top: 1px solid #dedede;
    display:flex ;
}
/* section4 */
.section4 .sc4_title{
    margin-top: 20px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    border-left: 12px solid red;
    padding-left: 30px;
    border-bottom: 1px solid #dedede;
    &:hover{
        color: #2084b7;
    }
}
.section4 .sc4_body .sc4_item_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section4 .sc4_body .sc4_item_left .sc4_content h3{
    margin-top: 15px;
    &:hover{
        color: #2084b7;
    }

}
.section4 .sc4_body .sc4_item_center{
    padding: 0px;
}
.section4 .sc4_body .sc4_item_center img{
    width: 100%;
}
.section4 .sc4_body .sc4_item_center .sc4_content{
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: bold;
    &:hover{
        color: #2084b7;
    }
}
.section4 .sc4_body .sc4_right .sc4_title_one{
    display: none;
}
.section4 .sc4_body .sc4_right{
    border-left:1px solid #dedede;
    padding-left: 10px;
}
.section4 .sc4_body .sc4_item_right{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
    padding-left: 15px;
    &:last-child{
        border: none;
    }
}
.section4 .sc4_body .sc4_item_right img{
    width: 100px;
    height: 80px;
    margin-left: 0px;
    margin-bottom: 15px;
    border-radius: 5%;
    object-fit: cover;
}
.section4 .sc4_body .sc4_item_right .sc4_content p{
    vertical-align: baseline;
    cursor:pointer;
    font-weight: bold;
    font-size: 13px;
    padding-right: 10px;
    &:hover{
        color: #2084b7;
    }
}
/* section5 */
.section5 .sc5_body .sc5_item{
display: flex;
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #dedede;
&:last-child{
    border: none;
}
}
.section5 .sc5_content p{
    font-size: 15px;
    color: #888;
}
.section5 .sc5_content h3{
    font-size: 20px;
    font-weight: bold;
    &:hover{
        color: #2084b7;
    }
}
.section5 .sc5_body .sc5_item img{
    padding-right: 15px;
    width: 280px;
    height: auto;
}


/* footer */
footer {
    background-color: #dedede;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    margin-top: 30px;
}
footer p{
    color: #888;
    font-size: 15px;
}
/* cuonlen */
.scroll_to_back{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color:#3e221b4e;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    display: none;
    padding: 0 0 0 15px;
    cursor: pointer;
}
.scroll_to_back:hover{
    background-color:#000000 ;
}




/* MAN IPAD */
@media (max-width:992px){
    .section1 .sc_1_order{
        order: -2;
    }
    .section1 .sc1_right_flex{
        display:flex;
        width:100%;
        justify-content: space-between;
    }
    .section1 .item_right img{
        width:100%;
        height: 200px;
    }





    .section2 .sc2_body .sc2_right_item{
        display: flex;
    }
    .section2 .sc2_body .sc2_right_item img {
        width: 332px;
        height: 221px;
        object-fit: cover;
        margin-right: 20px;
    }
    
    .section4 .sc4_body .sc4_item_right{
        justify-content: space-between;
    }
    .section4 .sc4_body .sc4_item_right img{
        width:150px;
        height:auto;
    }
    .section4 .sc4_body .sc4_item_right .sc4_content p{
        font-size: 21px;
    }
}
@media (max-width:768px){
    .sc_1_order{
        order:-2;
    }
}

/* MA DUOI 540 */
@media (max-width:540px){
    .section2 .sc2_body .sc2_right_item img {
        width: 200px;
        height: 150px;
    }
}